<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/h2gether_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.H2gether"
        tools:targetApi="31">
        <activity
            android:name="com.h2gether.splashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.h2gether.homePage.CreatingPlanActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.homePage.NavigationBarActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userConfigActivities.ActivityLevelSelection"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userConfigActivities.HeightSelection"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userConfigActivities.WeightSelection"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userConfigActivities.AgeSelection"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.prefacePagesOnboarding.CompetitionOnboarding"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.prefacePagesOnboarding.HydrationTipsOnboarding"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.prefacePagesOnboarding.FamilyMonitoringOnboarding"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.prefacePagesOnboarding.TrackWaterConsumptionOnboarding"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userConfigActivities.SexSelectionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userAuthActivites.SignupActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.h2gether.userAuthActivites.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.h2gether.homePage.WaterDashboardPage$YourBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>